#about_body {
  background-color: #f8f8f8;
}

.about_image {
  height: 500px !important;
  width: 100%;
  background-size: cover;
}

#about_description,
#about_vision,
#about_mission {
  text-align: justify;
}

.column {
  float: left;
  width: 25%;
  padding: 35px;
  height: 250px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
  align-items: center;
}

.heading {
  color: #6a1b9a;
  font-family: serif;
}
.icon-background {
  color: #6a1b9a;
}

.label {
  text-align: center;
}

#about_list {
  color: #6a1b9a;
  font-family: "Lucida Console", Courier, monospace;
}

#management_list {
  font-size: 20px;
}

.about_image_2 {
  height: 400px !important;
  width: 100%;
  background-size: cover;
}

.text-color-purple {
  color: #6a1b9a;
}
