.bg-purple {
  background-color: #6a1b9a;
}

.date-weekday {
  text-align: center;
  font-weight: bold;
}

.bg-booked {
  padding-top: 1px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: #6a1b9a 2px solid;
  background-color: #6a1b9a;
  color: white!important;
}

.date-saturday {
  color: gray;
}

.date-sunday {
  color: red;
}

.calender-table td,
.calender-table th {
  text-align: center;
  font-weight: bold;
}
