.accomodation{
  height: auto;
  margin: 0;
  padding: 0;
  background-color: #F8F8F8;
}
.main-banner{
	background-color: white;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 30px;
    height: auto;
    padding-top: 80px;
}
.contentRow{
  padding-left: 20px;
  padding-right: 20px;
}
.view{
	font-family: helvetica;
  	color: #9C8E91;
}
.descriptionRoom{
	font-family: helvetica;
  	color: gray;
}
#bookForm{
  border: 2px solid #ddd;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 100px;
  font-size: 18px;
  background-color: #F0F8FF;
}
.btnBook {
  background-color: #4400A9;
  justify-content: center;
  border: none;
  color: white;
  width: 200px;
  height: 50px;
  margin-top: 15px;
  text-decoration: none;
  display: inline-block;
   font-size: 25px;
  cursor: pointer;
  font-style: oblique;
  font-family: serif;
  opacity: 1;
  transition: 0.3s;

}
.btnBook:hover {
  opacity: 0.7;
  color: white;
}
.center {
    text-align: center;
    margin: 0 auto;
    display: block;
}
.head4{
	font-family: serif;
  	font-size: 1.3rem;
  	color: black;
}
.pHighlight{
	font-family: serif;
	color: #808080;
	font-size: 1.2rem;
}
.main-accordion1{
	background-color: white;
    padding-top: 30px;
    padding-left: 40px;
    padding-bottom: 30px;
}
.main-accordion2{
	background-color: white;
    padding-top: 30px;
    padding-left: 40px;
    margin-bottom: 30px;
    padding-bottom: 30px;
}
.head3{
	font-family: serif;
  	font-size: 1.6rem;
  	color: #595759;
  	font-style: oblique;
}
.custom{
  list-style-type: none !important;
  font-family: serif;
  font-size: 1.1rem;
}

/*.custom li::before {
  content: "\2022";
  color: red;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -2em;
}*/
